@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e0f2fe; /* bg-sky-100 */
}
